vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/images/users/
public/images/
public/js/app.js
public/mix-manifest.json
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
yarn.lock

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/


# Idea and Development Docs
design/
TODO.md

# IDE
.idea/
/.DS_Store
.DS_Store
